<table class="table table-bordered" id="dianzhanTable">
	<thead>
		<tr>
			<th></th>
			<th>A公司</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>备案装机量（MWP）:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>实际装机量（MWP）:</td>
			<td><input class="not-empty"/></td>
		</tr>
		<tr>
			<td>并网时间:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>发电量</td>
		</tr>
		<tr>
			<td class='childrow'>2017年7月:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>2017年累计:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>总成本</td>
		</tr>
		<tr>
			<td class='childrow'>2017年7月:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>2017年累计:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>结算电量</td>
		</tr>
		<tr>
			<td class='childrow'>2017年7月:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>2017年累计:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>限电率</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr></tr>
		<tr>
			<td>收入</td>
		</tr>
		<tr>
			<td>2017年7月收入:</td>
		</tr>
		<tr>
			<td class='childrow'>脱硫标杆部分:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>补贴部分</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>2017年累计收入:</td>
		</tr>
		<tr>
			<td class='childrow'>脱硫标杆部分:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>补贴部分</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>2017年8月收入预计:</td>
		</tr>
		<tr>
			<td class='childrow'>脱硫标杆部分:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>补贴部分</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>2016年8月同期收入:</td>
		</tr>
		<tr>
			<td class='childrow'>脱硫标杆部分:</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>补贴部分</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>电费到账情况</td>
		</tr>
		<tr>
			<td>8月预计收到脱硫标杆电费</td>
		</tr>
		<tr>
			<td>预计到账金额</td>
		</tr>
		<tr>
			<td class='childrow'>承兑</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>现金</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>到账预计日期</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>补贴到账预计</td>
		</tr>
		<tr>
			<td>8月预计收到的补贴电费</td>
		</tr>
		<tr>
			<td class='childrow'>承兑</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>现金</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>1-7月累计收到的补贴电费</td>
		</tr>
		<tr>
			<td class='childrow'>承兑</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td class='childrow'>现金</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>已清算的补贴电费期间</td>
			<td><input class="not-empty" /></td>
		</tr>
		<tr>
			<td>截止17年7月尚未收到的补贴电费</td>
			<td><input class="not-empty" /></td>
		</tr>
	</tbody>
</table>
<button class="btn btn-info">保存</button>