<div class="need-space row">
	<div class="col-sm-6">	
		<label class="col-sm-4 title">生产部门：</label>
	    <select class="col-sm-8 not-empty" name="bumenbiaoshi" onchange="showDefaultVal('bumenbiaoshi','shengchanbumen')">
	        <option value='' disabled selected style='display:none'>必选项</option>	
			<option value="A">A部门</option>
			<option value="B">B部门</option>
			<option value="C">C部门</option>
		</select>
	</div>
	<div class="col-sm-6">
		<label class="col-sm-4 title">日期：</label>
		<input type="text" class="col-sm-8 date-picker-elem riqi not-empty" name="riqi" />
	</div>
</div>
<div class="need-space row">
	<div class="col-sm-6">
		<label class="col-sm-4 title">客户编码：</label>
    	<select class="col-sm-8 not-empty" name="kehubiaoshi" onchange="showDefaultVal('kehubiaoshi','kehubianma','kehumingcheng',kehuguanxiObj)">
    	    <option value='' disabled selected style='display:none'>必选项</option>	
    		<option value="11">1190921</option>
    		<option value="12">1190922</option>
    		<option value="13">1190923</option>
    		<option value="14">1190924</option>
    		<option value="15">1190925</option>
    		<option value="16">1190926</option>
    	</select>
	</div>
	<div class="col-sm-6">
		<label class="col-sm-4 title">客户名称：</label>
		<input class="col-sm-8 content-label" name="kehumingcheng" style="border:0px" onfocus=this.blur() />
	</div>
</div>
<div class="need-space row">
	<div class="col-sm-6">
	    <label class="col-sm-4 title">物料编码：</label>
		<select class="col-sm-8 not-empty" id="test" name="wuliaobiaoshi" onchange="showDefaultVal('wuliaobiaoshi','wuliaobianma','wuliaomingcheng',wuliaoguanxiObj)">
			<option value='' style='display:none'>必选项</option>	
		    <option value="1">1170927</option>
			<option value="2">2170927</option>
			<option value="3">3170927</option>
			<option value="4">4170927</option>
			<option value="5">5170927</option>
			<option value="6">6170927</option>
			<option value="7">7170927</option>
		</select>
	</div>
	<div class="col-sm-6">
		<label class="col-sm-4 title">物料名称：</label>
    	<input class="col-sm-8 content-label" name="wuliaomingcheng" style="border:0px" onfocus=this.blur() />
    </div>
</div>
<input name="yewudanyuan" style="display:none"></input>
<input name="shengchanbumen" style="display:none"></input>
<input name="kehubianma" style="display:none"></input>
<input name="wuliaobianma" style="display:none"></input>
